@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#spiro-tool-graph canvas{
  display: block;
  position: absolute;
  float: none;
  top: 50%;
  left: 50%;
  margin: -400px 0px 0px -400px;
}